In [15]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

data1 = pd.read_csv('grizzlybearmortalityhistory_1976_2017.csv')
output = pd.concat([data1])
pd.DataFrame.from_dict(data1)

,ID,HUNT_YEAR,MU,GBPU_ID,GBPU_NAME,KILL_CODE,SEX,AGE_CLASS,SPATIAL
0,1,1977,740,3.0,Finlay-Ospika,Hunter Kill,M,NaN,yes
1,2,1977,201,43.0,North Cascades,Hunter Kill,M,5-9,yes
2,3,1977,719,6.0,Hart,Hunter Kill,F,NaN,no
3,4,1977,514,48.0,N/A - extirpated,Hunter Kill,M,0-2,yes
4,5,1977,314,43.0,North Cascades,Hunter Kill,M,5-9,yes
...,...,...,...,...,...,...,...,...,...
14109,14110,2017,502,16.0,Wells Gray,Animal Control,M,0-2,yes
14110,14111,2017,515,16.0,Wells Gray,Hunter Kill,M,NaN,yes
14111,14112,2017,403,45.0,Yahk,Animal Control,M,0-2,yes
14112,14113,2017,403,45.0,Yahk,Animal Control,M,5-9,yes
14113,14114,2017,404,45.0,Yahk,Road Kill*,M,NaN,yes

In [16]:
data1.ID
data1["ID"].value_counts()

1        1
9414     1
9403     1
9404     1
9405     1
        ..
4709     1
4710     1
4711     1
4712     1
14114    1
Name: ID, Length: 14114, dtype: int64

In [17]:
data1.HUNT_YEAR
data1["ID"].value_counts()

1        1
9414     1
9403     1
9404     1
9405     1
        ..
4709     1
4710     1
4711     1
4712     1
14114    1
Name: ID, Length: 14114, dtype: int64

In [6]:
data1.MU
data1["MU"].value_counts()

751    438
626    415
752    408
620    341
508    300
      ...
805      1
201      1
319      1
219      1
337      1
Name: MU, Length: 179, dtype: int64

In [7]:
data1.GBPU_ID
data1["GBPU_ID"].value_counts()

1.0     1058
55.0     846
3.0      637
6.0      601
29.0     580
        ...
39.0       5
43.0       3
44.0       1
34.0       1
81.0       1
Name: GBPU_ID, Length: 62, dtype: int64

In [8]:
data1.GBPU_NAME
data1["GBPU_NAME"].value_counts()

Rocky                                      1058
Muskwa                                      846
Finlay-Ospika                               637
Hart                                        601
Taku                                        572
                                           ...
Province                                      2
Garibaldi-Pitt                                1
Blackwater-West Chilcotin or Tweedsmuir       1
Kitlope-Fiordland or Tweedsmuir               1
Kingcome-Wakeman or Knight Blue               1
Name: GBPU_NAME, Length: 72, dtype: int64

In [9]:
data1.KILL_CODE
data1["KILL_CODE"].value_counts()

Hunter Kill             12254
Animal Control           1343
Illegal                   344
Pick Up (pre-2004)*        86
Road Kill*                 40
Rail Kill*                 30
Pick Up (post-2004)*       17
Name: KILL_CODE, dtype: int64

In [10]:
data1.SEX
data1["SEX"].value_counts()

M    9082
F    4754
U     278
Name: SEX, dtype: int64

In [11]:
data1.AGE_CLASS
data1["AGE_CLASS"].value_counts()

  5-9      3908
 3-4       3003
  10-14    1872
15+        1427
0-2        1384
Juvnl        71
Adult        23
Name: AGE_CLASS, dtype: int64

In [12]:
data1.SPATIAL
data1["SPATIAL"].value_counts()

yes    13405
no       709
Name: SPATIAL, dtype: int64