In [1]:
import pandas as pd

In [22]:
df = pd.read_csv(r"C:\Users\aship\school\year3\project-group55-project-1\grizzlybearmortalityhistory_1976_2017.csv")

In [23]:
print(df)

          ID  HUNT_YEAR   MU  GBPU_ID         GBPU_NAME       KILL_CODE SEX  \
0          1       1977  740      3.0     Finlay-Ospika     Hunter Kill   M
1          2       1977  201     43.0    North Cascades     Hunter Kill   M
2          3       1977  719      6.0              Hart     Hunter Kill   F
3          4       1977  514     48.0  N/A - extirpated     Hunter Kill   M
4          5       1977  314     43.0    North Cascades     Hunter Kill   M
...      ...        ...  ...      ...               ...             ...  ..
14109  14110       2017  502     16.0        Wells Gray  Animal Control   M
14110  14111       2017  515     16.0        Wells Gray     Hunter Kill   M
14111  14112       2017  403     45.0              Yahk  Animal Control   M
14112  14113       2017  403     45.0              Yahk  Animal Control   M
14113  14114       2017  404     45.0              Yahk      Road Kill*   M

      AGE_CLASS SPATIAL
0           NaN     yes
1           5-9     yes
2           NaN      no
3           0-2     yes
4           5-9     yes
...         ...     ...
14109       0-2     yes
14110       NaN     yes
14111       0-2     yes
14112       5-9     yes
14113       NaN     yes

[14114 rows x 9 columns]

In [28]:
df.HUNT_YEAR
df["HUNT_YEAR"].value_counts()

2007    446
1996    414
1981    401
1992    399
1987    397
1980    397
1984    393
2008    390
1983    386
1989    384
2011    383
1991    382
1985    380
1995    379
2017    377
1986    370
1999    358
1982    355
2009    348
2004    344
1990    343
1988    342
1979    340
1994    329
2005    327
2000    325
2010    322
2014    321
1978    318
2012    317
2006    300
2015    291
2002    288
2013    281
1977    280
1993    278
2016    275
2003    272
1997    270
1998    257
1976    238
2001    117
Name: HUNT_YEAR, dtype: int64

In [29]:
df.GBPU_NAME
df["GBPU_NAME"].value_counts()

Rocky                                      1058
Muskwa                                      846
Finlay-Ospika                               637
Hart                                        601
Taku                                        572
                                           ...
Province                                      2
Garibaldi-Pitt                                1
Blackwater-West Chilcotin or Tweedsmuir       1
Kitlope-Fiordland or Tweedsmuir               1
Kingcome-Wakeman or Knight Blue               1
Name: GBPU_NAME, Length: 72, dtype: int64

In [30]:
df.KILL_CODE
df["KILL_CODE"].value_counts()

Hunter Kill             12254
Animal Control           1343
Illegal                   344
Pick Up (pre-2004)*        86
Road Kill*                 40
Rail Kill*                 30
Pick Up (post-2004)*       17
Name: KILL_CODE, dtype: int64

In [34]:
df.AGE_CLASS
df["AGE_CLASS"].value_counts()

  5-9      3908
 3-4       3003
  10-14    1872
15+        1427
0-2        1384
Juvnl        71
Adult        23
Name: AGE_CLASS, dtype: int64

In [35]:
df["SEX"].value_counts()

M    9082
F    4754
U     278
Name: SEX, dtype: int64